# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log